.premium-button {
    width: 198px;
    height: 55px;
    background: #382E7E;
    border-radius: 50px;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.premium-button, .premium-button:hover {
    text-decoration: none;
}
