@import './_variables';

$nav-spacing: 1.5rem;

.cta{
  width: 198px;
  height: 55px;
  background: #382E7E;
  border-radius: 50px;
  color: white;
}

header {
  box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.5);
  background: white;
  color: $primary;

  .brand{
      font-size: 35px;
      a{
        font-family: "Zilla Slab";
      }
  }

  .logo {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;

    img {
      height: 32px;
      margin-bottom: 0;
    }
  }

  .navbar {
    padding: 2rem 4rem;

    .navbar-text {
      position: relative;
      color: inherit;
      text-align: center;
    }
  }

  .navbar-toggler {
    outline: none !important;
    border: none !important;
    font-size: 2rem;
    color: $primary !important;
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  #navbar {
    .main-nav .navbar-text {
      padding-right: $nav-spacing;
      padding-left: $nav-spacing;
    }

    .main-nav{
      margin-left: 4rem;
    }
  }
}

@media screen and (max-width: 992px) {
  
  header .navbar-collapse {
    border-top: 1px solid $sectionSeparator;
    box-shadow: 0px 40px 25px -40px rgba(0, 0, 0, 0.15);

    .nav-email{
      margin-top: .5rem;
      
    }

    

    .main-nav {
      font-weight: 700;
      font-size: 2rem;

      .active:after {
        border-bottom: 1px solid #fff;
      }

      a:after {
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        margin: auto;
        content: '';
        width: 50px;
        position: absolute;
        border-bottom: 1px solid $separators;
      }
    }
  }

  header .navbar{
    padding: 0rem 1rem;
  }
}

