@import './_variables';

#try{
    padding-top: 8rem;
    margin-bottom: 10rem;
    h1{
        margin-bottom: $col-h1-mb;
    }

    p{
        margin-bottom: $col-p-mb;
    }
    .bubble1{
        position: absolute;
        left: 0;
        margin-left: -5rem;
        margin-top: -9rem;
        z-index: 1;
    }

    .bubble2{
        position: absolute;
        
        left: 15%;
        margin-top: -10rem;
        transform: scale(1.2);
        z-index:0
    }
    .image{
        position: relative;
        z-index: 2;
    }
}